.header {
    text-align: center;
    color: rgb(32, 32, 32);
    opacity: .8;
    border-bottom: 1px solid #ddd;
    padding: 50px 0 10px 0;

    h1 {
        margin: 0 0 17.5px;
        font: {
            size: 2.1875em;
            family: sans-serif;
            style: none;
            weight: 400;
        }
        line-height: 1.2;
    }
}

.section__title {
    padding: 40px;
    text-align: center;
    color: rgb(32, 32, 32);
    opacity: .8;
    .section-title__subtitle {
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}

.about1 {
    background-color: #197bbd;
}

.about-reverse {
    background-color: #fff;
}

.about1,
.about-reverse {
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (min-width: 576px) {
        padding: 60px 0;
    }

    @media screen and (min-width: 768px) {
        padding: 80px 0;   

    }

    @media screen and (min-width: 992px) {
        padding: 90px 0;   
    }

    @media screen and (min-width: 1200px) {
        padding: 100px 0;   
    }

}

.about1 {

    .about__text {
        padding-right: 15px;
        padding-left: 15px;
        color: #fff;
    
        @media screen and (min-width: 992px) {
            padding: 0 70px;   
        }
    
        @media screen and (min-width: 1200px) {
            padding: 20px 0 40px 100px;   
        }
    
        .section-header__title {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 25px;
    
            @media screen and (min-width: 768px) {
                font-size: 40px;
            }
        }
    
        .section__subtitle {
            font-size: 1.4em;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 25px;
            opacity: .7;
    
        }
    
        .section__text {
            margin-bottom: 30px;
            font-size: 16px;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
        }
    
        .section__btn {
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            background-color: transparent;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #fff;
            padding: 10px 25px;
            transition: all .5s;
    
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    .about__image {
        margin-bottom: 20px !important;
    
        @media screen and (min-width: 768px) {
            padding: 0;
            margin: 0 0px 10px;
        }
    
        @media screen and (min-width: 992px) {
            margin-top: 80px;   
        }
    
        @media screen and (min-width: 1200px) {
            margin-top: 0;
        }
    
        .wrapper__image {
            @media screen and (max-width: 768px){
                margin: 0px 8px 20px 15px;
                padding: 0;
            }
    
            @media screen and (min-width: 1200px) {
                margin: 10px 0;
                padding: 0 15px;
            }
    
            img {
                width: 100%;
                height: auto;
                padding: 0;
                object-fit: cover;
                transition: all 0.2s ease;
                transform: translateY(0);
                border: 0;
    
                &:hover {
                    transform: translateY(-10px);
                }
            }
        }
    }

}

.about-reverse {

    .about-flex-reverse {
        flex-direction: row-reverse !important;
    }

    .about__text {
        padding-right: 15px;
        padding-left: 15px;
        color: #000;
    
        @media screen and (min-width: 992px) {
            padding: 0 70px;   
        }
    
        @media screen and (min-width: 1200px) {
            padding: 20px 100px 0 0;   
        }
    
        .section-header__title {
            font-size: 30px;
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 25px;
    
            @media screen and (min-width: 768px) {
                font-size: 40px;
            }
        }
    
        .section__subtitle {
            font-size: 1.4em;
            font-weight: 400;
            margin-top: 0;
            margin-bottom: 25px;
            opacity: .7;
    
        }
    
        .section__text {
            margin-bottom: 30px;
            font-size: 16px;
            font-family: "Century Gothic", sans-serif;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
        }
    
        .section__btn {
            color: #197bbd;
            font-style: normal;
            font-size: 18px;
            font-weight: 500;
            background-color: transparent;
            text-decoration: none;
            border: 2px solid #197bbd;
            padding: 10px 25px;
            transition: all .5s;
    
            &:hover {
                color: rgb(255, 255, 255);
                background-color: #197bbd;
            }
        }
    }

    .about__image {
        margin-bottom: 20px !important;
    
        @media screen and (min-width: 768px) {
            padding: 0;
            margin: 0 0px 10px;
        }
    
        @media screen and (min-width: 992px) {
            margin-top: 80px;   
        }
    
        @media screen and (min-width: 1200px) {
            margin-top: 0;
        }
    
        .wrapper__image {

            transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
            overflow: hidden;

            &:hover {
                transform: scale(.9);
            }

            @media screen and (max-width: 768px){
                padding: 0;
                margin-right: -15px;
                margin-left: -15px;
                &:first-child {
                    margin-bottom: 20px;
                }
            }
    
            @media screen and (min-width: 1200px) {
                margin: 10px 0;
                padding: 0 15px;
            }
    
            img {
                width: 100%;
                height: auto;
                padding: 0;
                object-fit: cover;
                transform: scale(1);
                transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
                border: 0;
    
                &:hover {
                    transform: scale(1.3)
                }
            }
        }
    }
}


